/* Empty. Add your own CSS if you like */
body{
  background-color:#A92626; 
}
/* Home Page CSS */
.homeImg{
	height: 250px;
	width: 200px;
	margin-left: auto;
    margin-right: auto;
    display: block;
	
}
ion-content{
	background: #A92626;
	margin-left: auto;
    margin-right: auto;
    display: block;
}
#homeButton{
	text-shadow: 30px;
	 color: #2B2323;
  	font-weight: bold;
  	font-size: 150%;
  	text-transform: uppercase;
  	padding:5px;
  	position: center;
  	margin-bottom:5px;
  font-family: 'Teko', sans-serif;
}
h2{
	text-align: center;
	font-family: 'Sancreek', cursive;
	margin-left: auto;
  margin-right: auto;
  font-size: 50px;
}
/*Login CSS*/
.loginImg{
  height: 250px;
  width: 250px;
  margin-left: auto;
    margin-right: auto;
    display: block;
}
.loginText{
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: 25px;
}
#signLink{
  text-align: center;
}


/*Selection CSS*/
img{
  padding: 5px;
  height: 100px;
  width: 150px;
}
#loginButton{
  text-shadow: 30px;
   color: #2B2323;
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;
    padding:5px;
    position: center;
    margin-bottom:5px;
  font-family: 'Teko', sans-serif;
}














