<ion-view view-title="Sign Up">
	<ion-content ng-SignUpCtrl>
	 <form name="myForm" novalidate>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">name</span>
                <input type="text" name="username" ng-model="username" ng-minlength="5" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="text" name="password" ng-model="password" ng-minlength="6" required>
            </label>
        </div>
        <div class="padding">
            <p ng-show="myForm.username.$error.required">* Username is required</p>
            <p ng-show="myForm.username.$invalid && !myForm.username.$pristine">* Username must be an email address</p>
            <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
            <p ng-show="myForm.password.$error.required">* Password is required</p>
            <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
        </div>
        <div class="padding">
            <button type="button" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit(username)">Submit</button>
        </div>
    </form>
		<!-- <div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">First Name</span>
		    <input type="text" placeholder="John">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Last Name</span>
		    <input type="text" placeholder="Suhr">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="john@suhr.com">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Create Password</span>
		    <input type="password" placeholder="password">
		  </label>
		</div>	 -->	
	</ion-content>
</ion-view>
